
.banner-inner {
	background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../../assets/images/banner4.jpg) no-repeat;
	background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../../assets/images/banner4.jpg) no-repeat;
	background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../../assets/images/banner4.jpg) no-repeat;
	background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../../assets/images/banner4.jpg) no-repeat;
	background-size: cover;
	min-height: 230px;
}

li.breadcrumb-item {
	font-size: 0.9em;
	letter-spacing: 1px;
}

li.breadcrumb-item a {
	color: #333;
}

.breadcrumb-item.active {
	color: #01cd74;
}
