<footer>
  <div class="container">
    
    <div class="footer-cpy text-center">
      <div class="footer-social">
        <div class="copyrighttop">
          <ul>
            <li class="mx-3">
              <a class="facebook" href="#">
                <i class="fa fa-facebook-f"></i>
                <span> Facebook</span>
              </a>
            </li>
            <li>
              <a class="facebook" href="#">
                <i class="fa fa-twitter"></i>
                <span> Twitter</span>
              </a>
            </li>
            <li class="mx-3">
              <a class="facebook" href="#">
                <i class="fa fa-google"></i>
                <span> Google</span>
              </a>
            </li>
            <li>
              <a class="facebook" href="#">
                <i class="fa fa-pinterest-p"></i>
                <span> Pinterest</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>